#include "@SVC@_col_driver.h"
#include "nl.h"

void @SVC@_col_driver::init() {
  if (load()) {
    msg(MSG, "%s: connected to %s", iname, get_subbus_name());
  }
  // Any setup required by the command server
}

void @SVC@_col_driver::acquire() {
  // Code to retrieve data
}
