[Unit]
Description=Link Engineering Data Acquisition System ng Service

[Service]
RuntimeDirectory=linkeng
RuntimeDirectoryMode=2775
ExecStart=/usr/local/sbin/flight.sh
User=flight
WorkingDirectory=~
#Restart=always

[Install]
WantedBy=multi-user.target

