[Unit]
Description=Link Engineering Data Acquisition System ng Service
After=default.target

[Service]
RuntimeDirectory=monarch
RuntimeDirectoryMode=2775
ExecStart=/usr/local/libexec/flight.sh
User=flight
WorkingDirectory=~
Restart=always

[Install]
WantedBy=default.target

